/* Ryan Sanders, 11/5/2014, Assignment 2 */

/* "Main" I used a background element to change to to a brownish color as well as giving it some padding*/
body {
	width: 90%;
	margin: 0 auto;
	background-color: #D6B87B;
	background-image: url("../Images/rising.png");
	background-repeat: repeat-x;
	padding: 10px;
	
	
}
/* "Headers" I changed all the headers to be the same however I adjusted their padding, font style and kept their opacity the same to be uniform */
 h1 {
	background-color: #000000;
	color: #ffffff;
	opacity: 0.7;
	padding: 20px;
	font-family: Arial, Verdana, sans-serif;
	font-size:  1em;
	font-weight: bold;
}

 h2 {
	background-color: #000000;
	color: #ffffff;
	opacity: 0.7;
	padding: 13px;
	font: italic small-caps bold 27px/1 Arial, Verdana, sans-serif;
}

 h3 {
	background-color: #000000;
	color: #ffffff;
	opacity: 0.7;
	padding: inherit;
	font-family: Arial, Verdana, sans-serif;
							 }
/* "Wrestler sections"*/

/* "Randy Orton" here ive added line height as well as a border and adjusted the border to get it some thickness, 
    adjusted the margins to make the content centered in the page*/
 .RandyO {
	line-height: 1.5em;
	color: #000000;
	text-align: left;
	width: 500px;
	border-style: solid;
	border-radius: 15px;
	padding: 40px;
	border-width: 10px;
	margin-top: 20px;
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: auto;
	
	
}

/* "Shawn Michaels section" here ive made the border thinner and I didn't adjust it to be in the center I simply put a border around the entire box 
    and used padding to center the texts as well as added a box shadow*/
 .ShawnM {
	line-height: 1.5em;
	color: #000000;
	text-align: left;
	width: 800px;
	height: 75px;
	padding: 40px;
	margin: 10px;
	border-style: solid;
	border-radius: 15px;
	border-width: 10px;
	box-shadow: 5px 5px #777777;
}
							 
/* "Triple H section" is simply copy pasted from Randy Orton I wanted to keep a alternating look going from each wrestlers text border */							 
 .Triplehh {
	line-height: 1.5em;
	color: #000000;
	text-align: left;
	width: 500px;
	border-style: solid;
	border-radius: 15px;
	padding: 40px;
	border-width: 10px;
	margin-top: 20px;
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: auto;
}
							 
/* "Stone cols section" is simply copy pasted from Shawn Michaels I wanted to keep a alternating look going from each wrestlers text border */								 
 .StoneC {
	line-height: 1.5em;
	color: #000000;
	text-align: left;
	width: 800px;
	height: 75px;
	padding: 40px;
	margin: 10px;
	border-style: solid;
	border-radius: 15px;
	border-width: 10px;
	box-shadow: 5px 5px #777777;
}
							 
/* "The Rock's section" is simply copy pasted from Randy Orton I wanted to keep a alternating look going from each wrestlers text border */								 							 							 							 
 .TheR {
	line-height: 1.5em;
	color: #000000;
	text-align: left;
	width: 500px;
	border-style: solid;
	border-radius: 15px;
	padding: 40px;
	border-width: 10px;
	margin-top: 20px;
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: auto;
}
/* first part of my two column layout*/
 .bio{
 	float: left;
 	width: 45%;
 	margin: 0 auto;
 	padding: 10px;

}
/* second part of the two column layout */
 .stats{
	float: right;
	width 45%;
	margin: 0 auto;
	padding: 10px;
	
}

 #shawn{
	clear: right;
	clear: left;
}

 #triple{
	clear: right;
	clear: left;
}

 #steve{
	clear: right;
	clear: left;
}

 #rock{
	clear: right;
	clear: left;
}

 #gallery{
	clear: right;
	clear: left; 
}

/* "Image section" in this section I put a line height but I don't think it actually does anything and I aligned the text to be in the center with the images*/								 
 .Wrestlerimg {
	line-height: 1.5em;
	text-align: center;
}
							 
/* "Wikipedia section" in this part I adjusted the text to be center so It was uniform with the images and text */								 
 .Wiki {
	line-height: 1.5em;
	text-align: center;
	text-decoration: none;
}
							 
/* "Links section" Here I have made it so that the link colors are green and I took off the underline under them */								 
 a:link {
	color: green;
	text-decoration: none;
}

/* Here I have changed the color of links that have already been clicked to be Red  */	 
 a:visited {
	color: red;
}

/* Here I have changed the color of the links to be white when you hover over them and have given them their underline back */	
 a:hover {
	color: #ffffff;
	text-decoration: underline;
}
/* Here I have changed it so that when you click on the link it will turn blue to give it a sort of "you know its working look"  */	
a:active {
	color: blue;
}
														
/* Figures section Here I think this is actually what is centering my images now that I think about it  */	
 figure {
	   text-align: center;
	   padding: 10px;
	   
	   
/* "Ordered list section" here I have made it so that the ordered list text is white and I changed the numbers to be Roman numerals  */								 }							 
 ol{
	list-style-type: upper-roman;
	color: #ffffff;
}

/* "Championship section" Here I have made it so that the this sections font is changed by using a google fonts <link> */	
 .Champion {
	font-family: 'Fira Sans', sans-serif;
}

/* "fig caption section" I gave the fig captions some text shadow to make it look different than the rest and stand out a bit*/								
 figcaption {
	text-shadow: 1px 1px #666666
}							

/* "Gallery section" Simply centered the gallery text so that it would align with the images */	
 #Gallery {
	text-align: center;
							}

/* " return to top " Here I simply aligned the return to top link on the right side, for some reason it seemed better there
     I think maybe its because I am right handed and might times I keep the mouse on that side  */							 
  .top {
	text-align: right;
}							 
							 
							 
							 